SFdata/
Presentation/

UpcomingImprovements.md

selfun/AngleDisks.py
selfun/ComputerOps.py
selfun/CoordTrans.py
selfun/DataImport.py
selfun/PlotCoordinates.py
selfun/Optimizers.py
*.pyc

SFgithub.sublime-workspace
