SFdata/
Presentation/

seestar/ComputerOps.py
seestar/CoordTrans.py
seestar/DataImport.py
seestar/PlotCoordinates.py
seestar/Optimizers.py
seestar/FieldAssignment.py
*.pyc

SFgithub.sublime-workspace

*egg*
build/
dist/
